<!-- Header -->
<header class="header bg-seashell">
    <!-- Header top -->
    <div class="content header_top py-2">
        <div class="flex-wrap text-sm lg:flex lg:gap-4 lg:items-center lg:justify-between">
            <div class="address-hotline flex text-start flex-col lg:flex-row gap-3">
                <p><b>Address:</b> 158A Le Loi, Hai Chau 1 ward, Hai Chau district, Da Nang city </p>
                <p><b>Hotline</b>: 84-905-323-959 | 84-838-446-667</p>
            </div>
        </div>
    </div>
    <!-- Header top end -->

    <!-- Banner -->
    <div class="Banner relative">
        <!-- Navigate bar -->
        <nav class="bg-seashell bg-opacity-90 border border-dashed border-5 border-black relative py-2 z-10">
            <div class="content mx-auto flex items-center justify-between px-0 md:px-4 sm:px-2 lg:px-8">
                <div class="flex items-center">
                    <a href="/">
                        <img src="/img/logo.svg" alt="Logo"
                             class="sm:w-[40px] sm:h-[40px] md:w-[56px] md:h-[56px] lg:w-[80px] lg:h-[80px] w-[40px] rounded-full mx-4"
                             loading="lazy">
                    </a>
                </div>
                <div class="flex items-center space-x-9 sm:space-x-2 md:space-x-10 lg:space-x-20 xl:space-x-80">
                    <a href="/"
                       class="text-xs sm:text-sm pl-3 md:text-lg font-semibold hover:underline mx-4">Home</a>
                    <a href="/menu"
                       class="text-xs sm:text-sm md:text-lg font-semibold hover:underline mx-4">Menu</a>
                    <a href="/checkout"
                       class="text-xs sm:text-sm md:text-lg font-semibold hover:underline mx-4">Checkout</a>
                </div>
                <div class="flex ">
                    <div class="relative flex flex-row items-center lg:gap-8 gap-2" id="cartContainer">
                        <a href="/cart" class="text-lg font-semibold relative" id="cartIcon">
                            <img src="/img/cart_icon.svg" alt="Cart" class="h-6 w-6 mx-4" loading="lazy">
                        </a>
                        <div class="flex justify-end lg:items-center gap-2 lg:gap-5">
                            <a id="search-icon" class="search-icon cursor-pointer">
                                <img class="h-6 mx-4" src="/img/search_icon.svg" alt="Search Icon">
                            </a>
                        </div>
                        <div class="absolute top-8 right-0 w-64 sm:w-72 bg-pink-100 border border-gray-300 shadow-lg hidden"
                             id="cartPopup">
                            <div id="popup-content">
                                <!-- Cart popup content will be loaded here -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <div class="relative banner h-32 md:h-64 flex items-end justify-center text-white">
            <div class="absolute inset-0 bg-black opacity-50"></div>
            <div class="relative z-10 text-center pb-3 md:pb-5 z-60">
                <h1 class="text-2xl md:text-4xl font-bold">OUR BAKERY</h1>
                <nav class="mt-1 md:mt-2">
                    <a href="/" class="text-gray-400">Home</a> /
                    <span class="text-red-500"><%= typeof pageTitle !== 'undefined' ? pageTitle : '' %></span>
                </nav>
            </div>
        </div>
    </div>
</header>