<section class="bg-seashell">
    <!--Body-->
    <div class="min-h-screen flex flex-col justify-center items-center bg-seashell">
        <div class="px-5 py-7 bg-[#b9843070] rounded-full flex items-center">
            <img class="w-[170px] px-5" src="/img/thank_you.gif" alt="thank_you">
        </div>
        <p class="font-bold text-4xl font-serif my-4 text-red-500">THANK YOU</p>
        <div class="lg:text-4xl sm:text-3xl text-center flex flex-col">
            <span>Your order is placed.</span>
            <span>Hope you have a good meal.</span>
        </div>
        <div class="py-3 px-5 font-bold bg-[#be8723b0] text-white rounded-lg my-4 cursor-pointer">
            <a href="/menu" class="">Back home</a>
        </div>
        <p class="font-bold text-2xl font-serif">Follow us</p>
        <div class="flex gap-8 py-5 mb-10">
            <div class="w-10 h-10 pt-[4px] hover:scale-110">
                <a href="https://zalo.me/0905323959/" target="_blank">
                    <img src="/img/zalo_logo.svg" alt="Zalo">
                </a>
            </div>
            <div class="w-12 h-10 hover:scale-110">
                <a href="https://www.instagram.com/2ws_bakery/" target="_blank">
                    <img src="/img/ins_logo.svg" alt="Instagram">
                </a>
            </div>
            <div class="w-10 h-10 pt-[4px] hover:scale-110">
                <a href="tel:+84905323959">
                    <img class src="/img/phone_logo.svg" alt="Phone">
                </a>
            </div>
        </div>
    </div>
</section>

<script src="/src/scripts/cart_popup.js"></script>
<script src="/src/scripts/icon_search_hover.js"></script>