@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

.content{
    margin-left: 80px;
    margin-right: 50px;
}

.carousel-container {
  max-height: 400px; /* Điều chỉnh chiều cao theo ý bạn */
  overflow: hidden;
  margin: 0 auto; /* Căn giữa carousel */
}

.carousel-container .carousel img {
  width: 100%;
  height: auto;
  max-height: 400px; /* Đảm bảo hình ảnh không vượt quá chiều cao này */
}

.carousel-container .carousel {
  height: 100%;
}

  